.gradle/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.zip

.idea/
*.iml
*.iws
*.ipr

# Kotlin编译中间文件
.kotlin/

**/build/
*/build/
build/

# 本地 SDK 路径文件 包含本地 Android SDK 路径
local.properties

# Android Studio 生成的临时文件
captures/
.externalNativeBuild/

# 日志文件
*.log

# macOS 系统文件
.DS_Store

.idea/caches/
.idea/libraries/
.idea/modules.xml

.cxx/
**/.cxx/

cmake-build-debug/
cmake-build-release/